
services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    volumes:
      - app-data:/app/data
    ports:
      - "8502:8501"
    environment:
      - DB_PATH=/app/data
    networks:
      - app-network

volumes:
  app-data:
    driver: local

networks:
  app-network: 
    driver: bridge
